[2016-06-28 15:40] oddoye-david opened #2 "Logs overwritten on server restart"
Whenever i restart my server and pipe the logs into elasticsearch, all the old logs are overwritten. Is this normal? Same behavior with logging to a file.

Great works as usual by the way.

[2016-06-29 06:38] mcollina commented on #2
Thanks!

That is not the expected behavior, but I could not reproduce locally, the logs are persisted inside ElasticSearch. Can you please provide instructions on how to replicate?

Regarding the file case, you need to `node app.js >> file.log`, if you do `node app.js > file.log` the file will be overwritten at every restart.

[2016-09-18 16:16] megastef opened #3 "CLI parameter "-i" for index name is not implemented"

[2016-09-18 16:22] megastef opened #4 "Wrong assignment to constant value"
I get an error in this line:
https://github.com/mcollina/pino-elasticsearch/blob/master/pino-elasticsearch.js#L76

/usr/local/lib/node_modules/pino-elasticsearch/pino-elasticsearch.js:76
          data.body = body

To fix it, i removed the line and changed line 77 to:
```splitter.emit('insert', {resBody: data, reqBody: body})```

[2016-09-18 17:05] megastef opened #6 "Elasticsearch 5.x bulk response"
Items returned in Elasticsearch 5.x might have a property "index" instead of "create" - both should be checked.
https://github.com/mcollina/pino-elasticsearch/blob/master/pino-elasticsearch.js#L56

[2016-09-18 17:09] megastef commented on #6
https://github.com/mcollina/pino-elasticsearch/commit/358a3d746cfbc56a6e03c7cff68fdfc40273dc79 included in PR https://github.com/mcollina/pino-elasticsearch/pull/5

[2016-09-18 17:42] megastef opened #7 "Indexing rate is very low"
As far my tests show the index rate is very slow, probably because of the little size of bulk requests.

Example, the test.log inludes 100 pino logs from restify:
[code]
For 1000 logs
[code]

pino-elasticsearch generates very small bulk requests with only 15 objects in each http-request (generated in each write from "pump" with only 15 chunks). Tested with several elasticsearch version on a MacBoo

[2016-09-18 21:18] megastef commented on #7
In my PR the bulk size is 500 and the times are much better :)
[code]

[2016-09-21 07:39] #4 closed

[2016-09-21 07:39] #7 closed

[2016-09-21 07:43] mcollina commented on #2
Closing for low activity. Feel free to reopen if this is still an issue for you.

[2016-09-21 07:43] #2 closed

[2016-09-21 07:43] mcollina commented on #6
Fixed in #5

[2016-09-21 07:43] #6 closed

[2016-09-21 07:43] mcollina commented on #3
Fixed in #5

[2016-09-21 07:43] #3 closed

[2016-11-21 01:38] sitkb opened #8 "Fails to post new log message to elasticsearch"
Not sure if this project uses Issues to report bugs, but...

With versions:
• elasticsearch 5.0.1
• pino-elasticsearch@1.1.1

[code]

[2016-11-21 06:18] mcollina commented on #8
I did not test this into Elastic v5. Does it happens all the time?Can you please add steps to reproduce?

[2016-11-21 13:34] sitkb commented on #8
It works correctly with elasticsearch 2.4.  However, the error occurs every time with version 5.

To reproduce:
1. Start elasticsearch with defaults on localhost.
2. Create a `test.js` file:
[code]
3. Run `node test.js | pino-elasticsearch -l trace`

[2016-11-21 15:20] mcollina commented on #8
@dadoonet do you know which is the best way to deal with this? Where are the main differences between the two versions?

[2016-11-21 15:49] dadoonet commented on #8
It's related to https://github.com/elastic/elasticsearch/pull/19454 I believe: `consistency` parameter is not supported anymore.
Do you really need to use that?

[2016-11-21 19:22] mcollina commented on #8
@sitkb would you like to do the testing and send a PR?

[2016-11-21 23:50] sitkb commented on #8
I'm very new to node, pino, and elastic.  However, by simply removing the `consistency` parameter there was some progress.

A new issue showed up and is due to [https://github.com/elastic/elasticsearch/issues/21535](url).  At this point, I don't know how to update the code to change the operation from create to index.  Also, it is unclear if this would break compatibility with version 2.4.

Though

[2016-11-22 05:50] dadoonet commented on #8
Not sure what the usecase is here but just don't provide the op type parameter.

[2016-11-22 11:46] mcollina commented on #8
@sitkb IMHO we might even split the flow in two functions, elastic 2.4 and elastic 5.

From a continuous integration point of view, we will need to test against both versions.

[2016-11-22 11:50] dadoonet commented on #8
But why did you add those options in the first place?

[2016-11-22 11:53] mcollina commented on #8
@dadoonet I don't remember. I'm ok in removing them, if the current tests pass straight away with Elastic v2.4.

[2016-11-22 11:55] mcollina commented on #8
So, this needs to be overhauled to port it to Elastic v5 😢 .

[2016-11-22 12:05] dadoonet commented on #8
So you mean it was needed for 2.4?

[2016-11-22 12:12] mcollina commented on #8
I _thought_ it was needed. `consistency` can be removed safely.

However, https://github.com/elastic/elasticsearch/issues/21535 is much more serious, and it will need to be assessed properly.

[2016-11-22 12:14] dadoonet commented on #8
Indeed: https://www.elastic.co/guide/en/elasticsearch/reference/5.0/breaking_50_index_apis.html#_optype_create_without_an_id But why do you need to use `op_create` instead of using default behavior? Is it like an optimization?

[2016-11-22 12:19] mcollina commented on #8
I'm using [`client.create()`](https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/current/api-reference.html#api-create). It seems the "best" way to create a document from the docs. Should I use `client.index()` instead?

[2016-11-22 12:57] dadoonet commented on #8
`client.index()` is perfectly fine. create just throws an exception in case you try to index a document which already exists.
But here you don't provide the id, so this will never happen.

[2016-11-22 19:26] mcollina commented on #8
Fixed in v2.0.0.

[2016-11-22 19:26] #8 closed

[2017-08-29 14:45] AnnaWykes opened #11 "pino-elasticsearch & express"
When I run my pino piping command via a **.sh** or **.bat** file it pipes to Elasticsearch fine, but when trying to pipe directly in bash or PowerShell it doesn't work, in all of which I'm only executing "**node appexpress | pino-elasticsearch**", any ideas why?

This only happens when working with expressjs. I can pipe to Elasticsearch fine when running a basic js file

[2017-08-29 14:56] mcollina commented on #11
I do not think in powershell | works the same way of Unix. I'm not a poweshell user, so I can't really help you.
Let me know if you find what the problem is.

[2017-08-29 15:07] AnnaWykes commented on #11
Yes, Powershell is a different beast, so yes | works differently. This may be a Windows issue, as that’s the operating system I have been given in my current role. I'm using Git Bash on Windows as well, and get the same result.

[2017-08-29 15:58] AnnaWykes commented on #11
I can confirm this is a Windows issue. Managed to test on a colleagues unix machine. Thanks for responding

[2017-08-29 15:58] #11 closed

[2017-09-18 08:52] bloodcarter opened #12 "Elasticsearch updates instead of insert"
I use pino like this:
`    pino.info({user_id: i.user.id, task_name: i.task.instance_of_dasha_class }, "Transforming image to perseption: %j", i);     `

And sometimes is get this log enrty inserted. But most of the time I get this response from Elasticsearch:
[code]

That's wrong? It looks like Elasticsearch thinks this is not a new document, and updates it instead of inserting a new entry.

[2017-09-18 09:10] mcollina commented on #12
You might be specifying some options wrong, or we might not be sanitizing them correctly: somehow you are setting `_id` to `'log'` making it an update operation rather than a create one.
Moreover, it picks the index as `':9200'` which should be `'pino'` by default.

It would be good to have a snippet to reproduce, because it is not happening here.

[2017-09-20 05:30] bloodcarter opened #13 "I added support for AWS Elasticsearch. What to do now?"
Hi. I forked the project and implemented support for AWS Elasticsearch https://github.com/bloodcarter/pino-elasticsearch. Should I do a pull request or what? Thanks.

[2017-09-20 05:33] #12 closed

[2017-09-20 05:53] mcollina commented on #13
Sure, we accepts PR!

[2017-09-20 05:56] bloodcarter commented on #13
OK. Created a PR. Closing.

[2017-09-20 05:56] #13 closed

[2017-10-02 07:35] ad34 opened #15 "[features request] AWS IAM authentication from metaservice"
I can find any way to use pino elastic search with AWS IAM authetication, would be nice to support this, to avoid putting static credentials in chef recipies.

[2017-10-02 07:41] mcollina commented on #15
thanks for reporting! I don’t think we have any bandwidth for tackling this right now.. but we will be happy to review a PR.

[2017-10-04 14:43] ad34 commented on #15
ok , I will see if I can implement this on my own and let you know .

[2018-03-30 10:27] mzehrer opened #17 "Daily rotating dbs?"
Is ist possible to create daily rotating databases with pino-elasticsearch?

[2018-04-11 09:33] alexgoldstone opened #18 "system and pino-elasticsearch"
I am trying to launch my application via systems (see the following article for details:

https://blog.codeship.com/running-node-js-linux-systemd/

Any suggestions how this might work with pino-elasticsearch. Simply piping does not seem to work.

[2018-04-11 10:12] mcollina commented on #18
This looks more like something related to pm2.

http://pm2.keymetrics.io/docs/usage/log-management/

I'm not a user, but maybe we can figure it out.

@jsumners what would you recommend at this point?

[2018-04-11 12:16] jsumners commented on #18
@mcollina sounds like he wants to use systemd and not pm2.

@alexgoldstone it depends on how new your systemd is. The version that ships with RHEL7/Centos7 does not support this, but newer versions have an option that can be passed to a unit file's [`StandardOut=`](https://www.freedesktop.org/software/systemd/man/systemd.exec.html#) to write the logs directly to a file.

So, one could do `Standard

[2018-04-11 13:17] alexgoldstone commented on #18
Thanks @jsumners

I am using Ubuntu 16.04 LTS which does not seem to have the StandardOut option but it sounds like that will be the way to go in the future. Do you have any short-term suggestions for older systems?

[2018-04-11 13:31] alexgoldstone commented on #18
For anyone looking for a similar solution once this issue is archived, the following seems to work:
[code]
I was having trouble getting my environment variables to be picked-up when I tried this earlier but must not have had quite the same as the above.

@jsumners This is off topic but since you clearly have more experience, I opted to use systems as I had read some negatives re pm2. Based on what

[2018-04-11 13:36] jsumners commented on #18
No. I vehemently dislike systemd, but we are stuck with it and pm2 is cumbersome to use. I don't see any reason to use pm2 unless you are all-in on their environment (pay for their APM service).

That being said, I have recently been considering using https://github.com/immortal/immortal for some services. It follows the `runit` style of process management and makes it easy to provide user-level s

[2018-04-11 14:35] alexgoldstone commented on #18
Thanks. I'll check it out. In the interim I have been able to achieve what I set out to with a combination of systems and this `pino-elasticsearch` project so thank you again. I will close this ticket but my solution is noted above if anyone else searches.

[2018-04-11 14:35] #18 closed

[2018-04-19 12:00] alexgoldstone commented on #17
I believe this will be a feature request... I came here with the same requirement...

Currently pino-elasticsearch provides a **--index** option.

We require an additional option to specify a time-based index.

Rather than making the format totally dynamic - I propose this is limited to daily, monthly or yearly resolution inline with the Elastic Search documentation here:

https://www.elastic.co/g

[2018-06-02 16:02] buendiadas opened #19 "Constructor breaks when an empty log input is received (Date"
On [pino-elasticsearch:L27](https://github.com/pinojs/pino-elasticsearch/blob/master/pino-elasticsearch.js#L27)

If value equals `{}`

[code]

It will return:

[code]

And break

[2018-06-02 16:03] mcollina commented on #19
Thanks for reporting this! Would you like to send a PR?

[2019-05-29 07:06] guotie opened #24 "can i use pino-elasticsearch as a module"
for example:

[code]

[2019-05-29 09:56] mcollina commented on #24
I would love to support that! Would you like to send a PR?

[2019-05-31 07:24] guotie commented on #24
https://github.com/pinojs/pino-elasticsearch/pull/25

[2019-05-31 07:24] #24 closed

[2019-06-06 13:31] tdeo commented on #17
Just saw this, you can use the placeholder `%{DATE}` introduced in this PR: https://github.com/pinojs/pino-elasticsearch/pull/22/files

[2019-06-06 14:13] alexgoldstone commented on #17
I confirm that I have been using the `%{DATE}` option for some time and it works well.

[2019-06-07 16:03] tdeo opened #27 "Constructor breaks on some JSON objects"
https://github.com/pinojs/pino-elasticsearch/blob/master/pino-elasticsearch.js#L27 seems to be assuming that `Parse(...).value` is always a string or an object, but it may also a boolean, for instance:
[code]

This leads to the following exception:
[code]

Should I send a PR for that ?

[2019-06-08 13:16] mcollina commented on #27
True, please send a PR. Booleans should be skipped.

[2019-06-21 12:14] #27 closed

[2019-07-10 08:22] troy-lamerton opened #33 "Some logs are being lost"
When I do 3 logs in the same function, only the first one is showing in elastic search. I checked the logs.txt output so I know the logs are going into pino-elasticsearch but they're not making it into elasticsearch.

The command that starts the node server:

[code]

The full command:

[code]

I can consistently reproduce this with certain functions in my code.

[2019-07-10 10:10] mcollina commented on #33
Would you mind uploading a simplified example to reproduce?

[2019-07-16 07:21] wennyben commented on #24
for the latest version of pino-elasticsearch,
'**node**' should be used instead of '**host**'

`const pinoEs = require('pino-elasticsearch')({
    node: '192.168.1.220',
    index: 'zb'
})`

[2019-10-11 09:11] troy-lamerton commented on #33
After improvements on the server-side I'm now unable to reproduce this.

[2019-10-11 09:11] #33 closed

[2020-01-07 08:11] boenrobot opened #39 "[feature request] Add JSON to every input line"
I'd like to keep my logs both in files and in ElasticSearch, and pipe them to ES via pino-elasticsearch.

In order to keep my log files smaller, I'd like to not include data that is the same on every line, such as the application the file belongs to and perhaps other data that would be known at or before startup of pino-elasticsearch.

It would be great if I could pass a file with such a JSON from

[2020-01-07 12:00] mcollina commented on #39
I'm not understanding what you need. Can you use `tee`?

[2020-01-07 12:47] mcollina commented on #39
If you place all the logs in the same ES index,  you’ll have to add the application name in each log line.

Why can’t you just use logagent directly?

[2020-01-13 13:47] eran10 opened #41 "writing to elastic isnt working"
Hi, i would like to send my pino logs to elastic, we are using elastic 6 version with latest version of pino and pino-elastic and when i config the below for pino :

[code]

and then

[code]

the app is running ok, but no logs is printed to console and no logs sent to elastic with no errors at all,
am i missing something?

[2020-01-13 15:41] mcollina commented on #41
You should use https://github.com/pinojs/pino-multi-stream to print to stdout as well.

As for the reason logs are not popping up in Elastic... I don't know. cc @delvedor

[2020-01-14 10:19] ly4she opened #42 "Can't send nested objects"
When I pass nested objects as payload to elasticsearch, I'll get ResponseError: mapper_parsing_exception.

Code to reproduce:

[code]

Error I've got:
[code]

I think that is a transport responsibility to parse such objects, so I don't want manually stringify every time. And I think that it'll be great the posibility to pass some option like `pretty: true` for prettifying parsing maybe by `JSON.st

[2020-01-14 13:07] mcollina commented on #42
cc @delvedor would you be able to help?

[2020-01-16 09:58] Eomm commented on #42
@ly4she what version of elastic are you using?

With this config:

[code]

You will get:

[code]

[2020-01-16 10:08] Eomm opened #43 "Question: index mapping creation"
I'm sending to elasticsearch an http-request trace with the body. The index created by default will index all the body's fields and my server can't afford all that processing.. moreover, I'm not interested in index all the body fields, they should be just stored (I use other fields for search).

Since I'm using the `index: 'pino%{DATE}'` pattern, the index is created at runtime by this line if I'm

[2020-01-16 16:41] mcollina commented on #43
If you customize that mapping in ES, is that retained on restart of pino-elasticsearch?
Il 16 gen 2020, 11:08 +0100, Manuel Spigolon <notifications@github.com>, ha scritto:

[2020-01-20 14:40] eran10 commented on #41
thanks i will check

[2020-01-21 06:44] ly4she commented on #42
@Eomm Elasticsearch-7.5.1

[2020-01-21 16:13] Eomm commented on #43
Yes, if I create manually an index and then send the logs there, the index ignore the `Request` key:

[code]

[2020-01-21 22:30] mcollina commented on #43
Would a flag to avoid adding the mapping be enough then?

[2020-01-22 21:02] Eomm commented on #43
I had the chance to understand better the case:
- the code I linked send the logs to elastic, it doesn't create the index
- elastic, cause doesn't have the index of the day, create a new index with the default settings and it will index all the things

The logic I would apply in this module would be:
if the user specified a [custom mapping](https://www.elastic.co/guide/en/elasticsearch/reference/c

[2020-01-22 23:26] mcollina commented on #43
After getting to know ElasticSearch mappings, I would as well. Go ahead with the PR.
Il 22 gen 2020, 22:02 +0100, Manuel Spigolon <notifications@github.com>, ha scritto:

[2020-01-23 14:01] Eomm commented on #42
You should [check the mapping](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-get-mapping.html) of the index in your elasticseach instance

[code]

The problem here is that there is a mismatch from the mapping created the first time and the new log.

I suggest to delete the index and retry for testing purpose of course

[2020-02-07 13:38] brilvio opened #44 "Have an option for SSL"
Can we have an option to pass the ssl configuration to the elasticsearch client? I can do a PR if people want.

Just need to pass an object like this.
[code]

[2020-02-07 13:53] mcollina commented on #44
sure thing, send it over!
Il 7 feb 2020, 14:38 +0100, Fernando Derkoski <notifications@github.com>, ha scritto:

[2020-02-17 11:19] usama-dev opened #47 "Help wanted: How do I integrate it with express-pino-logger"
I am using express-pino-logger and want to log the http and routes logs to elasticsearch using this module.

Can you please provide an example for such case?

Thanks.

[2020-02-17 11:23] mcollina commented on #47
Just pipe the two processes.

[2020-02-17 12:21] usama-dev commented on #47
This is how I am doing it:

`
const loggerHttp = require('pino-http')()
const streamToElastic = pinoElastic({
	index: 'an-index',
	type: 'log',
	consistency: 'one',
	node: 'http://localhost:9200',
	'es-version': 6,
	'bulk-size': 200,
	ecs: true
})
const logger = pino({ level: 'info' }, streamToElastic)

var myLogger = function (req, res, next) {
	logger.info(loggerHttp(req,res))	// This does not w

[2020-02-17 15:29] mcollina commented on #47
what is `loggerHttp`?

If it's pino-http, you need to pass the the pino logger to pino-http: https://github.com/pinojs/pino-http#examples.

[2020-05-18 03:44] lioaslan opened #49 "Is it possible to log by fields anh send logs to elasticsearch?"
Hi,
I'm doing a project about log analysis using ELK Stack, I met problem that sending log from nodejs to elasticsearch, and I found `pino-elasticsarch`. However, I wonder that it is possible to use logger by filed (like status code, method, URL,...).
Thanks for any helps

[2020-05-18 09:09] mcollina commented on #49
maybe @delvedor can help

[2020-05-18 15:43] delvedor commented on #49
@lioaslan it’s not entirely clear to me what you are trying to achieve.
Can you add an example?

[2020-05-19 07:03] lioaslan commented on #49
- I'm building server for a website use `hapi` and `hapi-pino` for logging.
- I want to analyze log (about status code, route, timestamp) for some personal purpose. I use `elasticsearch` and `kibana` to do it
- Between `hapi-pino` and `Elasticsearch`, I try to use pino-elasticsearch to send log. However, it not worked, elasticsearch don't get anything
This is my code for registering hapi-pino:
[co

[2020-05-19 08:20] lioaslan commented on #49
Maybe that's stupid, Elasticsearch still get log but it don't log anything about that.

[2020-05-19 08:20] #49 closed

[2020-05-20 09:00] DavidPVaz commented on #41
@eran10, you had any development regarding this issue?

[2020-05-20 15:05] delvedor commented on #41
I can share an update, we have worked for improving the ECS support, and if you are using Pio v6 now you can use [@elastic/ecs-pino-format](https://github.com/elastic/ecs-logging-js/tree/master/loggers/pino) instead of enabling the ecs options here.
@mcollina we should probably deprecate it :)

[2020-05-28 10:49] cyril94440 opened #53 "How to debug implementation as module ? Log not showing in Elasticsearch"
Hi there,

I am trying top use this lib as a module but unfortunately logs are not showing in Elasticsearch and I don't have anything displayed in my console related to this module.

Here is my code :

[code]

Logs are successfully displayed in console, but unfortunately nothing related to Elasticsearch errors and nothing in Elasticsearch.

How can I debug this?

Thanks for your help

[2020-05-28 10:54] mcollina commented on #53
cc @delvedor

[2020-06-08 12:28] JoHuang commented on #41
I found if I write more logs, it sends some of the logs.
So I think it's might be cause of the flushBytes.

If I set flushBytes to 10, all logs appears.

This might be an issue that the last few logs can not be flushed before node.js app terminated.

[2020-06-08 16:03] delvedor commented on #41
So I think it's might be cause of the flushBytes.
If I set flushBytes to 10, all logs appears.

This is the correct behavior :) By default we collect 5 MB of logs before sending them, to avoid overloading Elasticsearch. You can easily change that limit with the `--flush-bytes` option.

It should not, as soon as the process end, the bulk indexer does a final flush.

Anyhow in the next version of th

[2020-06-08 17:50] JoHuang commented on #41
I didn't see this behavior.
How to trigger it?
Or could you indicate the code related to this behavior?
Thanks

[2020-06-09 09:46] delvedor commented on #41
If you run the main process and pipe this transport, it works automatically, as the stream from the main process and the transport ends.
[code]

If you pass this library directly to the pino options, and then kill the process, there is no guarantee that all the logs will be sent, as the process will be destroyed.
As I was saying the next version will support a flush interval.
We can also think abo

[2020-06-09 14:11] JoHuang opened #54 "Typescript definition"
I would like to use this package as module in a Typescript project.
However I can't find typescript definition.
It would be great to have it for integrating into Typescript projects.

[2020-06-17 13:30] frenkelor commented on #53
@cyril94440
can you try to run it with `flush-bytes` option => `flush-bytes: 1`
[code]
My assumption is: if the message is too short and the program quits, and the logs do not show up.
I'm trying to debug it right now to see if that is the case.

[2020-06-17 13:35] kyleratti commented on #53
@frenkelor you are correct and that bit me the other day.

However, when I had firewall rules too restrictive on my Elastic Search host, I could not get any sort of output to show logs were/were not sending to ES - so while `flush-bytes` may lower the threshold to send logs to Elastic Search, it would still be nice to see logs of when this module can't forward to Elastic Search.

[2020-06-17 14:17] frenkelor commented on #53
@kyleratti try this `DEBUG=* node app.js`, (nothing to do with this package)

[2020-06-17 18:32] wolfejw86 opened #55 "How to use with an elastic APIKey?"
I only see support for the basic user:pass in the url auth mechanism.  Is there an example showing how to use an apikey auth mechanism instead? For example, getting this data to the client:

https://www.elastic.co/guide/en/cloud/current/ec_connect_a_client.html#ec_api_key

[2020-06-18 12:47] mcollina commented on #55
cc @delvedor

[2020-06-19 14:42] delvedor commented on #55
You are right, currently you can’t pass an api key. It would be nice to expose it as the client does support it.
Would you like to send a pr? :)

[2020-06-19 16:46] wolfejw86 commented on #55
Okay sure thing, I'd be happy to.

[2020-06-20 09:09] wolfejw86 commented on #55
@delvedor @mcollina Pull request is up 😄

[2020-07-14 08:56] delvedor opened #57 "Add support for flush interval"
The bulk helper supports a [`flushInterval`](https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/current/client-helpers.html#_bulk_helper) option as well. It would be nice to support it!

[2020-07-22 16:16] Arnovsky commented on #57
I'd like to take this if possible

[2020-07-29 13:40] #57 closed

[2020-08-07 15:27] euglv opened #61 "Some log messages are not accepted by the elastic search, but pino-elasticsearch does not show any error or warning"
For example, if different log objects have fields with the same name but with different value type.
If we do:
[code]
Then the last log message will not be added to the elastic search because of the error: `failed to parse field [test] of type [long] in document with id ...` but `pino-elasticsearch` will not output any error or warning.

[2020-08-07 15:38] mcollina commented on #61
@delvedor wdyt?

[2020-08-13 23:48] gr2m opened #62 "replace `fast-json-parse` with JSON.parse()"
@mcollina states on https://github.com/mcollina/fast-json-parse#readme

`pino-elasticsearch` requires Node 10, so I wonder if you'd want to replace it with just `JSON.parse()`? Happy to send a PR if yes.

If not, what's the reason to keep `fast-json-parse`, I'd be curious

[2020-08-14 07:02] gr2m opened #63 "README: instructions in "Setup and Testing" are unclear"
The docs say

But there is no `docker-compose.yml` file, there are currently five files starting matching `docker-compose-*.yml`. I'm not exactly sure what to do with that, maybe you could amend the instructions?

[2020-08-14 07:14] gr2m commented on #63
Also I think instead of

you could say

[2020-08-14 09:55] mcollina commented on #63
We use multiple docker-compose to test against different ElasticSearch versions. Can you send a PR to fix?

[2020-08-14 10:18] gr2m commented on #63
Does the `docker-compose up` command accept an argument for a custom docker compose config filename? If so we could add something like this to make it more explicit

[code]

If that's not possible, maybe rename one of the files to `docker-compose.yml` so it would be used by default?

Or do you want to ask the contributor to rename one of the *.yml files to `docker-compose.yml` before running `dock

[2020-08-14 10:22] mcollina commented on #62
send a PR, no real need

[2020-08-14 10:25] mcollina commented on #63
Does the docker-compose up command accept an argument for a custom docker compose config filename?

Yes, I think it is

[code]

But I can be wrong, take a look at the docs.

[2020-08-17 18:59] lioaslan opened #64 "Pino's forrmater can't apply to elasticsearch"
Hi,
I'm learning about hapi and elasticsearch. When I try to map IP to location with Pino, I have some problem.

I use formatter for create new field (https://getpino.io/#/docs/api?id=log).
When I use `hapi-pino` to print formatted log on console, it worked ok.
However, I send formatted log to elasticsearch, I don't see new field when I access a route on `hapi` (new field still appear when sever i

[2020-08-17 20:39] #63 closed

[2020-08-17 20:41] mcollina commented on #64
cc @delvedor

[2020-08-18 06:13] #62 closed

[2020-08-18 09:50] lioaslan commented on #64
@delvedor Hope you reply me soon, thanks

[2020-08-20 16:18] lioaslan commented on #64
@delvedor I need fixing this issue to complete my assignment :( so I hope you reply as soon as possible.
Thanks so much

[2020-08-20 16:35] delvedor commented on #64
Hello, I'm currently on vacation and I don't have time to look into this.
It would be great to have a small example to reproduce the issue.
The code you have posted it's not enough, you should add the Elasticsearch mappings as well as an example of what you are expecting.

[2020-08-23 14:46] mrahbardar opened #67 "Both sending log to elastic and printing in stdout (console)"
I Want to send my logs to elasicsearch node and also be able to see my logs in my console. Is there anyway to configure pino-elasticsearch to beahve like that?

[2020-10-16 13:28] victorjabur opened #68 "Cannot read property 'bulk' of undefined - Error importing module pino-elasticsearch"
pino-elasticsearch version = 5.3.0
pino version: 6.7.0
node version: 8.17.0

-----------------------

node_modules/pino-elasticsearch/lib.js:61
  const b = client.helpers.bulk({
                           ^

TypeError: Cannot read property 'bulk' of undefined
    at pinoElastic (/node_modules/pino-elasticsearch/lib.js:61:28)
    at Object.<anonymous> (/helpers/log.js:66:25)
    at Module._compile

[2020-10-16 15:01] mcollina commented on #68
Are your passing in a custom elasticsearch client?

cc @delvedor

[2020-11-19 14:01] igoreliasm commented on #68
I think it's about node version
I tried to run the cli and got the same error.

To reproduce:

![Captura de Tela 2020-11-19 às 10 58 49](https://user-images.githubusercontent.com/2879536/99675843-79908300-2a56-11eb-9f19-b2b1e0f16ebe.png)

[2020-11-19 15:13] mcollina commented on #68
Node 8 is not supported.

[2020-11-19 15:13] #68 closed

[2020-12-04 17:41] xamgore opened #69 "--trace-level is not passed to the ElasticSearch client"
I haven't found any mentions of `--trace-level` inside `lib.js`, also @elastic/client [doesn't provide logger levels](https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/current/client-connecting.html) as I can see it. May be the argument should be removed?

[2021-03-23 07:46] winnochan opened #72 "Reconnection is not supported"
When connection with elasticsearch server is broken, it won't send any msg to server any more. Can you add this feature?

[2021-03-23 08:58] mcollina commented on #72
@delvedor maybe you can help?

Otherwise it would be good for you to send a PR.

[2021-04-01 12:23] britztopher opened #73 "Index Api Feature?"
I have a situation where bulk api isnt appilcable to my function.  I have a lambda and execution time is around 1200ms, so bulk api cant get full enough to flush logs to elastic.  Ive tried almost every combination of `flush-bytes` and `flush-interval` will no avail.  I forked lib and now use index api which works nicely for short running applications.  Would like to know if this is something that

[2021-04-01 17:44] mcollina commented on #73
Having an option that enables you to select between bulk and index would be nice.

I don't understand your snippet, it does not seem directly applicable to this lib

[2021-04-01 18:03] britztopher commented on #73
@mcollina is how i reuse splitter as a stream but instead use index api, as to demonstrate how i implemented it in this lib

[2021-04-08 06:44] redfajardo commented on #53
Hi,

Is there any update here? I'm experiencing the same issue.

[2021-04-09 08:10] delvedor commented on #53
Hello! I've just run this code:

[code]

And everything works as expected.
`pino-elasticsearch` sends the logs if either `flush-bytes` is reached or if `flush-interval` has elapsed.
Unless something kills the process before `flush-interval` is triggered, the process will wait until all timers have been executed.

[2021-04-12 02:21] redfajardo commented on #53
Hi @delvedor , It works! Thank you

[2021-04-12 06:36] #53 closed

[2021-04-15 23:53] rclayton-godaddy commented on #67
[code]

[2021-04-16 00:05] rclayton-godaddy commented on #61
If you look at the code, you will see that Pino Elastic returns an EventEmitter:

[code]

This will at least let you see what the issue is and bypasses Pino (so it's not aggregated in a loop).

[2021-04-16 11:02] #67 closed

[2021-06-10 22:07] bjornicus opened #86 "using with pino in browser"
I'm trying to produce elastic format logs using [pino in the browser](https://getpino.io/#/docs/browser), but this plugin doesn't seem to work in that context. it seems only the timestamp function from ecsPinoOptions is called; no other output is modified.

Is this a known or intentional limitation?

[2021-06-10 22:20] mcollina commented on #86
This is intentional and not supported.

[2021-06-10 23:20] bjornicus commented on #86
Thanks for the quick response.  I was hoping to produce ecs format logs from the browser and post them to a fluentd http endpoint to ship them to elastic, so was hoping to leverage this plugin to produce properly structured logs.  Looks like I'll have to do the transformation myself, but I wouldn't mind adding it to this plugin and submitting a pull request if there's interest in having that suppo

[2021-06-11 06:19] mcollina commented on #86
The usual flow I have done is to send those logs to a REST endpoint and send them to Elastic afterwards.

[2021-06-11 21:31] bjornicus commented on #86
Right, I've got fluentd as the REST endpoint, but it would be most convenient to accept already ECS format logs, hence my desire produce ECS formatted logs on the client.

Looking more at the pino-elasticsearch code though, most of what it does is maybe not relevant in the browser context and I really just need to post something with a "@timestamp" field (with appropriate timestamp format), "log.l

[2021-06-12 17:27] mcollina commented on #86
I think having some way to provide that for pino browser would be amazing, but it won't fit this module. If you'd like to create one, we'll list inside the pino docs. It might be that you'd need to change a few things in the pino browser implementation as well to have that level of customization needed.

[2021-06-12 17:27] #86 closed

[2021-07-06 10:07] anisenBRU31 opened #91 "[feature request]"
Add proxy options on function pinoElasticSearch and pass it in new Client

[code]

[2021-07-06 10:36] mcollina commented on #91
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-09-23 15:40] cesarfd opened #99 "Broken since @elastic/elasticsearch@7.14.0"
More info [here](https://github.com/elastic/elasticsearch-js/issues/1521).

Basically it stopped working since 7.14.0 (including 7.14.1 and the recently released 7.15.0). I'm not sure whether this is really an upstream bug or something that could be changed in pino-elasticsearch itself.

In the meanwhile a temporary workaround could be to force the dependency version up to 7.13.0 to avoid problems

[2021-09-23 15:55] mcollina commented on #99
@delvedor could you take a look?

[2021-10-01 08:09] cesarfd commented on #99
We use elasticache and it's still running 7.10 because of the license change.

[2021-10-01 11:31] Allain55 opened #102 "Connection closing"
Am I right the the ElasticSearch connections are never closed? I see lots of active clients at ElasticSearch (value of nodes.http.current_open) and no trace that connections are closed using pino-elasticsearch. Since the client is not accessible outside it doesn't seem possible to close a connection by myself so how should they get closed?

[2021-10-01 12:25] mcollina commented on #102
cc @delvedor

[2021-10-01 12:29] delvedor commented on #102
The client relies on the internal http agent to handle connections. If a connection it's not used, after a while it will be closed automatically.

[2021-10-01 12:40] Allain55 commented on #102
I have connections active for hours now. Wouldn't be better to close connections sooner?
I don't know how important that is when using ElasticSearch though.

[2021-10-01 16:31] delvedor commented on #102
You can configure for how much time an idle socket should be kept alive. But if you are sending data continuously it won't be closed.
It a good thing that connections are not closed often tho, opening a new one is costly.
Reusing old connections is more performant.

If you have a huge number of connections that you aren't expecting (by default the client opens up to 512 sockets), it might be worth

[2021-10-04 07:00] FlyingWraptor commented on #99
What's your config (ssl, xpack, ...)? I've been testing from 7.1 to 7.15 for a PR and I didn't have any issues with the 7.15 elasticsearch node package.

[2021-10-04 08:08] cesarfd commented on #99
No ssl node, I just specify an index and es-version 7. I'm using amazon's elasticsearch with kibana pretty much as default. It uses elasticsearch 7.10.2.

[2021-10-04 08:11] FlyingWraptor commented on #99
I would suggest debugging the issues using the following outputs

streamToElastic.on('unknown', (line, error) =>
    console.log('Unknown error', line, JSON.stringify(error)));

streamToElastic.on('insertError', (error) =>
    console.log('Unknown error', JSON.stringify(error)));

streamToElastic.on('error', (error) =>
    console.log('Unknown error', JSON.stringify(error)));

 And see if there's

[2021-10-04 08:34] Allain55 commented on #102
I checked and the connections (88) are active for 3 days now . I haven't changed any Elasticsearch setting related to this so this is by default. These were created by me when implementing pino-elasticsearch. I'll reset these manually

How could I configure idle sockets keep alive? Maybe you mean the network.tcp.keep_idle ElasticSearch setting?

[2021-10-04 10:30] delvedor commented on #102
The sockets are being kept alive by default by the client.

[2021-10-04 11:34] Allain55 commented on #102
By client you mean the @elastic/elasticsearch client, right? Since Friday I've even restarted the OS running  the app with pino-elasticsearch.
Sorry but it's not clear to me how are these connections still alive and how to close them after some time (like 1 day)

[2021-10-08 11:40] Allain55 commented on #102
I'm going in a different direction. Thank you!

[2021-10-08 11:40] #102 closed

[2021-11-04 15:00] ferrao opened #110 "not working with aws elasticsearch 7.10"
I seem to be hitting a similar issues to this [one](https://github.com/elastic/elasticsearch-js/issues/1519), also mentioned [here](https://github.com/elastic/elasticsearch-py/issues/1667) and [here](https://github.com/elastic/elasticsearch-py/issues/1666)

`pino-elasticsearch` depends on the elasticsearch client as:

[code]
which is causing my installation to use

[code]

I understand this is not

[2021-11-04 16:19] ferrao commented on #110
I have worked around it by pinning my elastic client version to 7.13.0 on `package.json`:

[code]

[2021-11-04 16:22] #110 closed

[2021-11-04 16:22] mcollina commented on #110
This is not compatible with AWS ElasticSearch anymore.

[2021-11-04 19:50] ferrao commented on #110
Ok, good to know @mcollina, I am trying to get away from them as well... Have been looking at [logz.io](https://logz.io/) which seems really nice, but no transport exists, any advice on some good managed ELK that I can use that works properly with the current transport?

[2021-11-08 18:49] mcollina commented on #110
It's not our decision, it's part of the war between Elastic and AWS.

Citing them (https://github.com/elastic/elasticsearch-py/issues/1667):

I'm not sure if @delvedor has anything to add.

I would happily see another module focusing on AWS services.

[2021-12-20 13:36] shahinghasemi opened #123 "Does it run in worker_thread or the main thread?"
Hi, I've been testing sending logs directly to elastic in comparison to log in STDOUT and then sending it to elastic.
I created a benchmark to use this package, however the metrics aren't so promising (it gave me about 6.8k RPS).
This is my question: If it is running on the main thread then how can I make the logs to send in worker thread instead of the main thread which the application is running

[2021-12-20 13:48] mcollina commented on #123
The above code runs it inside the main thread. You'll need to define it as a transport https://getpino.io/#/docs/transports to run it inside the worker_thread.

[2021-12-20 13:48] #123 closed

[2022-03-23 13:25] alexandrevanhoutte commented on #72
Is there any update about this feature?
Is there a temporary solution to resolve it ?

[2022-03-23 13:50] mcollina commented on #72
@alexandrevanhoutte
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-04-01 13:15] OhSoooLucky opened #140 "Elasticsearch bulk helper closing splitter stream"
Currently we're experiencing issues of logging completely `stopping completely` after our elastic ingest node is rebooting.
After 2 days of debugging and testing I've concluded the splitter transform stream is getting destroyed by the async iterator in the `bulk helper` of the `elasticsearch-js `library.

So the cause: `pino-elasticsearch` uses the `bulk helper` from `elasticsearch-js`, once the m

[2022-04-01 18:38] mcollina commented on #140
@delvedor  could you take a look?

[2022-04-01 18:40] mcollina commented on #140
What should be the default behavior in this case? Are you ok in dropping logs? Or should this be kept in memory?

[2022-04-01 18:45] FlyingWraptor commented on #140
The bulk request should just drop the logs in my opinion, as that request has exceeded it's max retry count.

The issue is that once all nodes in the connection pool are declared DEAD the stream will be disposed/destroyed and pino-elasticsearch will not continue, ever.

I've found a hacky solution to this problem:
Override the splitter.destroy and force resurrection on the client connection pool,

[2022-04-04 07:04] delvedor commented on #140
Hello! Even if all the nodes are declared dead, the client will still try to send requests against the originally configured list of nodes.

I'm not sure what you mean here. Is the helper throwing any error?

If the maxRetries is reached, the [`onDrop`](https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/current/client-helpers.html#_usage_3) callback will be called with the dropped

[2022-04-07 10:10] xxzefgh commented on #54
this should be enough

[code]

[2022-04-13 08:47] FlyingWraptor commented on #140
Thank you @delvedor but in my case that's not what's happening really.

The splitterstream disposes after a document is dropped and the max retries are done plus all nodes being down.
Once an endpoint becomes available again, the splitter is disposed and no following streams will occur

[2022-04-13 14:54] FlyingWraptor commented on #140
I've rewritten the lib.js file to suit our needs.
This currently works, when the splitter.destroy gets called I resurrect the pool and reinitialize the client bulk request.
Setting autodestroy to false did not prevent the splitter from being destroyed.

[code]

[2022-04-15 06:23] FlyingWraptor commented on #140
I must add I am only using one node in this setup. So maybe this is only occurring when the pool only has 1 single endpoint

[2022-05-22 16:00] mcollina opened #146 "Upgrade to ElasticSearch 8"
ElasticSearch 8 now requires https for every communication. This makes the current approach we use for running tests moot.

We need some new setup and I do not have time to look into it right now.

@delvedor can you help?

[2022-05-23 08:50] delvedor commented on #146
I've updated [elastic/elastic-github-actions](https://github.com/elastic/elastic-github-actions/pull/25) to betetr support security on by default.
While testing the code should either avoid rejecting unauthorized certs, or set `security-enabled: false` in the action settings.

[2022-07-25 10:11] mcollina commented on #146
@Fdawgs could you take a look at this? https://github.com/fastify/fastify-elasticsearch was recently updated.

[2022-07-26 08:45] Fdawgs commented on #146
Would it just be the CI that needs an update? Not familiar with Elasticsearch at all.

[2022-07-26 08:48] mcollina commented on #146
They switched from being http to being https by default in the latest version.

[2022-08-21 19:29] #146 closed

[2022-09-19 14:50] penumbra23 commented on #72
We're experiencing the same issue, once the ES instance crashes or any network congestion hits the roof, the connection gets broken. While inspecting the `ClientOptions` inside @elastic/elasticsearch-js, there's the following field:

`resurrectStrategy?: 'ping' | 'optimistic' | 'none'`

Maybe setting this one to `ping` should be sufficient for the problem?

[2022-09-20 07:28] penumbra23 commented on #72
I can give it a try 😄

[2022-09-21 21:30] delvedor commented on #72
@penumbra23 it won't solve this specific issue out if the box, the the v8 client uses a new type of connection pool.

Try to use ClusterConnectionPool in the client configuration, the ping is the default behavior.

It would be useful to understand why the client can't reconnect. The connection pool will retry connection either way after a while. It might be something related to the underlying http